*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
body{
    background-color: white;
}
.centera{
    display: flex;
    align-items: center;
}
.centerj{
    justify-content: center;
}
.fColumn{
    flex-direction: column;
}
.top{
    top:0;
    right:0;
    left:0;
    z-index: 110;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#logo{
    width: 100px;
    margin: 20px 0;
    margin-left: 6rem;
    cursor: pointer;
    height: 40px;
}
#down{
    padding: 5px;
    padding-inline: 15px;
    background-color: #1fb57f;
    color: white;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    margin-right: 6rem;
    font-weight: normal;
}
#intro{
    margin-top: 11rem;
    flex-direction: column;
    /* font-weight: bold; */
    font-size: 1.2rem;
}
.tGreen{
    color: #1fb57f;
}
#intro2{
    background-color: #fbfbfb;
    flex-direction: column;
    margin:0 18rem;
}
#GPay{
    font-size: 1.7rem;
}
#tut{
    flex-direction: column;
    margin-top: 14rem;
}
#tutF{
    font-weight: 800;
    font-size: 2rem;
}
#steps{
    display: flex;
    text-align: center;
    margin-top: 9rem;
    margin-inline: 8rem;
}
.First{
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 2px;
    margin-top: 15px;
}
.icons{
    width: 150px;
}
.angle{
    padding-inline: 1rem;
}
#initiate img{
    padding: 30px;
}
#forget img{
    padding: 30px;
}
#trust{
    background-color: #092a54;
    color: white;
    padding-inline: 15rem;
    padding-block: 10rem;
    display: flex;
}
#text h1{
    font-size: 2.5rem;
}
#text p{
    font-weight: normal;
}
#text{
    padding-right: 18rem;
}
#investors{
    text-align: center;
    font-weight: bolder;
    margin-top: 7rem;
}
#compLogo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#compLogo img{
    padding: 100px;
}
